*{

background-image: url('./images/download.jpg');
background-size: cover;
background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
@media screen and (max-width:700px) {
    * {
            width: 257px ;
            
   
}

}
